
/* ------------------------pop up  form-------------- */
/* Popup form overlay */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed; */
  /* bottom: 23px;
  right: 28px; */
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);

  

}

/* .btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
} */

/* .btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background-color: #45a049;
} */

#close-btn{
  margin-left: 950px;
  font-size: 30px;
  position: absolute; /* Absolute positioning */
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position to move it to the corner */
  font-size: 30px;
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;


}




/* body {
  padding: 10px 50px;
} */

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  background-color: white;
  color: black;
  border-bottom: 2px solid #1c4587;
}

.logo img {
  height: 100px;
  width: auto;
}

.welcome-message h1 {
  font-size: 18px;
  color: #1c4587;
}

.welcome-message p {
  font-size: 18px;
  color: #1c4587;
}

.actions {
  display: flex;
  gap: 20px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 20px;
  height: 20px;
}

.action-item a {
  color: #1c4587;
}

.action-item a:hover {
  color: #0069d9;
}

nav {
  background-color: black;
  padding: 5px;
  width: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content:center;
  gap: 15px;
}

.navbar ul li {
  position: relative;
}

.navbar ul li a {
  padding: 0px 20px;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar ul li a:hover {
  color: #cce5ff;
}

.outer-border {
  box-sizing: border-box;
  /* border: 1px solid #1c4587; */
  padding: 20px;
  margin: 0 20px 0 20px;
  background-color: white;
  box-shadow: 10 10 10px rgba(10, 10, 10, 10);

}

.inner-border {
  box-sizing: border-box;
  border: 1px solid #0069d9;
  padding: 10px;
  width: 1020px;
  margin: auto;
  margin-bottom: 10px;

  
  
}

.flex-container {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: lightgrey;
  padding: 10px;
}

.left-text {
  color: #1c4587;
  font-size: 18px;
}

.right-text-container {
  text-align: right;
}

.right-text {
  color: #1c4587;
  font-size: 18px;
}

.address {
  color: #333;
  font-size: 16px;
}

/* ---------------customer information---------- */
/* --------------------multistep customer info----------------------------- */
/* Reset and Basic Styles */


/* body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
} */

/* Form Container */
.form-container {
  width: 1020px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(1, 1, 1, 1);
  position: relative;
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Floating Labels */
.form-group {
  position: relative;
  margin-bottom: 30px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 97%;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  outline: none;
  transition: border-color 0.3s;
  border: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.119);
  background-color: #fff;
  margin-bottom: 10px;
}
#investigator-id{
  width: 20%;
}
#remarks{

width: 30%;
}
#customer-dob,
#sale-by
 {
  width: 70%;
}
#investigator-id,
#investigation-note
{
  border-bottom: 2px solid rgba(0, 0, 0, 0.119);
}
select:hover{
  color: rgba(0, 0, 255, 0.434);

}
#second-guarantor-national-id{
  width: 200px;
}
#purchaser-bin
{
  margin-right: 635px;
  width: 30%;
}
#nominee-national-id
{
  width: 180px;
}
#first-guarantor-relation,
#first-guarantor-national-id,
#nominee-mobile,
#nominee-relation{
  width: 80%;
}
#second-guarantor-relation{
  width: 80%;
}
#investigation-note{
  width:97%;
}

#national-id,

#kisti-card-no,
#account-no,
#credit-limit

{
  width:80%;
}
#first-guarantor-employee-id,
#second-guarantor-employee-id{
width: 20%;
}
#first-guarantor-mobile{
  width: 70%;
}
#mobile-no,
  #second-guarantor-mobile
  {
  width: 55%;
}


#nominee-dob
 {
  width: 80%;
}
#nominee-address,
#customer-address,
#first-guarantor-address,
#second-guarantor-address
{
  width:97%;
}

#first-guarantor-employee-id,
#first-guarantor-national-id,
#second-guarantor-employee-id,
#second-guarantor-national-id{
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.119);
}
#kisti-card-no:focus,
#first-guarantor-employee-id:focus,
#first-guarantor-national-id:focus,
#second-guarantor-employee-id:focus,
#second-guarantor-national-id:focus,
#investigator-id:focus,
#investigation-note:focus{
  border-bottom: 2.5px solid rgba(0, 0, 255, 0.434);
}

#kisti-card-no,
#customer-name,
#first-guarantor-name,
#second-guarantor-name,
#nominee-name
 {
  width: 80%;
}







.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: rgba(0, 0, 255, 0.434);
  border-bottom: 2.5px solid rgba(0, 0, 255, 0.434);
}
.form-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 5px;
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
  font-weight: bold;
  font-size: 14px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label,
.form-group select:focus + label,
.form-group select:not([value=""]) + label {
  top: -5px;
  font-size: 12px;
  color: rgba(0, 0, 255, 0.434);
}







/* Required field */
.required {
  color: red;
}

/* Invalid field */
.invalid {
  border-color: red;
}
/* ------------------------------customer -info--- */

/* Section within the form step */
.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust spacing between fields as needed */
  margin-bottom: 0px; /* Spacing between sections */
  justify-content: space-evenly;
  align-items: center; 
}

/* Form field container */
.form-field {
  flex: 1 1 calc(15% - 15px);
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
}
.form-field1 {
  flex: 1 1 calc(15% - 15px);
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
}
.form-field0 {
  flex: 1 1 calc(15% - 15px);
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

/* .form-group #second-guarantor-national-id, #purchaser-bin{
  margin-top: -40px;

} */

/* Form group to apply floating label styles */


input:focus,
textarea:focus {
  border-color: #007bff; /* Adjust focus color as needed */
  outline: none;
}

/* -------------nominee---------- */


.nominee-options {
  display: flex;
  margin-bottom: 20px;
  gap: 50px;
}

.nominee-options label {
  display: block;
  margin-bottom: 10px;
}

.nominee-options input[type="radio"] {
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #000;
}



.form-row {
  
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust spacing between fields as needed */
    margin-bottom: 20px; /* Spacing between sections */
    justify-content: space-evenly;
    align-items: center; 
  
}


.form-row .form-group {
  flex: 1 1 calc(15% - 15px);
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;}



h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  
}
legend{
  color: rgb(74 72 72 / 45%);}
h4{
  font-size: 16px;
  margin-bottom: 10px;
}

.navbar-content {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
}

.navbar-item {
  display: flex;
  flex-direction: column;
}

.navbar-item label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;

}

.navbar-item input,
.navbar-item select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
}

.action-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}


#step-4 #same-as {
  width: 100px;
}
#step-4 #number,
#name,
#father-name,
#mother-name,
#mobile,
#relation,
#action {
  width: 116px;
}
.action-button button{
  width: 55px;
  height: 34px;
  background-color: lightblue;
  border-radius: 10%;

}
.action-button button:hover{

  background-color: rgba(0, 0, 255, 0.61);

}


.nominee-options input:checked:after{
    content: "✔";
    position: absolute;
    display: none;
    color: white; /* Color of the checkmark */
    font-size: 16px; /* Size of the checkmark */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the checkmark */
}

#step-5 h2 {
  margin: 0 0 30px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.form-question {
  margin-bottom: 15px;
}

.form-question #radio {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.options {
  display: flex;
  gap: 10px;
  font-weight: none;
  padding-left: 15px;
}







/* ---------------------custom radio--- */

.options label {
  margin-right: 15px;
}

form select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
#profession {
  width: 100px;
  height:30px;
  margin-left: 18px;
  color: #45a049;
}
/* -----------------Investigator------------ */


fieldset {
  margin-bottom: 10px;
  padding: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.119);
}
fieldset:hover {

  border: 2px solid rgba(0, 0, 255, 0.868);
}
/* .form-question #radio {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
} */


/* Dropdown Button */
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 70%;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  width: 70%;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover effects */
.dropdown-content a:hover {
  background-color: lightgreen;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* ----------footer------- */
.footer {
  text-align: center;
}
.footer legend {
  font-weight: bold;
  color: black;
}
.footer p {
  color: grey;
}
.footer #version {
  color: red;
}
/* ---------------- */


input::placeholder {
    color: transparent; /* Hide placeholder initially */
    transition: color 0.2s;
    font-size: 10px;
}

input:focus::placeholder {
    color: rgba(0, 0, 0, 0.448); /* Show placeholder on focus */
}
textarea::placeholder {
  color: transparent; /* Hide placeholder initially */
  transition: color 0.2s;
}

textarea:focus::placeholder {
  color: rgba(0, 0, 0, 0.448); /* Show placeholder on focus */
}

.error-message {
    color: #d9534f;
    font-size: 10px;
    margin-top: -5px;
    display: block;
    position: absolute;
}

/* radio button */




.checkbox-wrapper-31:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.checkbox-wrapper-31 .background {
  fill: #ccc;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=radio] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer; /* Add cursor to indicate clickable */
}

.checkbox-wrapper-31 input[type=radio]:checked + svg .background {
  fill: #6cbe45;
}

.checkbox-wrapper-31 input[type=radio]:checked + svg .stroke {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=radio]:checked + svg .check {
  stroke-dashoffset: 0;
}

.custom-radio{
  display: flex;
}
.custom-radio label{
  margin-left: -10px;
}


.flex-row{
  display: flex;
}


#form-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */

}

.form-item {
  display: flex;
  gap: 0px; /* Space between items in a row */
  padding: 10px;

}

.btn-submit{
  background-color: greenyellow;

  padding: 10px;
border-radius: 10%;

}
